{% extends "laravel_like.html.twig" %}

{% block body %}
    <div class="flex-center position-ref full-height">
        {% include 'navbar.html.twig' %}

        <div class="content">
            <div class="title m-b-md">
                Yummy
            </div>

            <div class="links">
                <a href="http://www.iut-lens.univ-artois.fr">Marathon du Web</a>
            </div>
            <h3>*** Recettes ***</h3>
            {% for recette in recettes %}
                Nom : {{ recette.name }} {#<a href="{{ path("app_recette_recetteId", {"id" :recette.id}) }}"><button>Affichage</button></a>#}
            {% endfor %}

            <h3>*** Articles ***</h3>
            {% for article in articles %}
                    Titre :{{ article.title }}{#<a href="{{ path("app_article_articleId", {"id" :article.id}) }}"><button>Affichage</button></a>#}</br>
            {% endfor %}

        </div>
    </div>
{% endblock %}
