{% extends "base.html.twig" %}

{% block body %}
    <div class="flex-center position-ref full-height">

        <div class="content">
            <div class="title m-b-md">
                Admin Yummy
            </div>

            <div class="links">
                <a href="http://www.iut-lens.univ-artois.fr">Marathon du Web</a>
            </div>
        </div>
    </div>
{% endblock %}

{% extends "footer.html.twig" %}
