#nav{
    align-items: center;
    height: 20vh;
    background-color: #f8f8f8;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
}

#nav a{
    color: #000;
    text-decoration: none;
    font-family: Calibri;
}

#logo{
    grid-column: 1/2;
    grid-row: 1/2;
}

#admin{
    grid-column: 2/3;
}

#recette{
    grid-column: 3/4;
}

#article{
    grid-column: 4/5;
}

#depo-recette{
    grid-column: 5/6;
}

#depo-article{
    grid-column: 6/7;
}

#log{
    grid-column: 7/8;
}

#login{
    grid-column: 8/9;
}

#recherche_p{
    grid-row: 1/2;
    grid-column: 2/-1;
}

#barre{
    height: 10px;
    width: 100%;
    background-color: #f5d057;
}